* {
  margin: 0;
}

html {
  box-sizing: border-box;
}

body {
  max-width: 1080px;
  margin: 0 auto;
}

.container {
  display: grid;
  gap: 5px;
}

.box {
  border: 2px solid grey;
  border-radius: 5px;
}

.A {
  display: flex;
  justify-content: space-between;
}

.A1,
.A2 {
  margin-top: 10px;
  margin-bottom: 10px;
  margin-right: 20px;
  border: 2px solid goldenrod;
}

.A1 {
  margin-left: 10px;
  width: 100%;
  max-width: 170px;
}

.B {
  display: grid;
}

.B1 {
  border: 2px solid goldenrod;
  max-width: 100%;
  justify-self: center;
}

.C {
  display: grid;
  gap: 5px;
  grid-template-columns: 1fr 1fr 1fr;
}

.C1,
.C2,
.C3 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.blog-img {
  margin-top: 10px;
}

.blog-img,
h3,
p {
  border: 2px solid goldenrod;
  margin-bottom: 10px;
  margin-left: 10px;
  border-radius: 5px;
}

.card {
  border: 2px solid goldenrod;
}

.D {
  display: flex;
  justify-content: center;
}

.D1 {
  border: 2px solid goldenrod;
  margin-top: 10px;
  margin-bottom: 10px;
}

.E {
  display: flex;
}

.E1 {
  border: 2px solid goldenrod;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 10px;
}
