* {
  margin: 0;
  padding: 0;
}

html {
  box-sizing: border-box;
  font-family: "Source Sans 3", sans-serif;
}

body {
  margin: 0 auto;
  background-color: #e6e6e6;
}

/*---------------------------------------------------*/

.container {
  background-color: white;
  max-width: 1085px;
  width: 100%;
  margin: 0 auto;
}

.A {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 5rem;
}

.A1,
.A2 {
  margin-top: 0.625em;
  margin-bottom: 0.625em;
}

.A1 {
  margin-left: 2.5em;
  max-width: 170px;
}

.A2 {
  display: flex;
  align-items: center;
  margin-right: 2em;
  color: #090909;
  font-size: 1rem;
  font-weight: 600;
}

.nav-list {
  display: flex;
  list-style-type: none;
}

.nav-list li {
  margin-left: 1.25em;
}

.B {
  background-image: url(/images/blog-image-hero.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  aspect-ratio: 2.223;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 2rem;
}

.hero-date {
  font-size: 1rem;
  margin-bottom: 0.5em;
}

.hero-title {
  font-size: clamp(1.8rem, 4vw, 2.5rem);
  margin-bottom: 0.5em;
}

.hero-text {
  font-size: clamp(0.9rem, 2vw, 1rem);
  width: 60%;
}

.C {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  margin-top: 2.5em;
  margin-bottom: 1em;
  margin-left: 2em;
  margin-right: 2em;
}

.C1,
.C2,
.C3,
.C4,
.C5,
.C6 {
  display: flex;
  flex-direction: column;
  flex: 1 300px;
}

.blog-img {
  width: 100%;
  margin-bottom: 1.25em;
  border-radius: 3px;
}

.date {
  margin-bottom: 0.625em;
}

h3 {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 0.25em;
}

.D {
  display: block;
  text-align: center;
  margin-bottom: 2em;
}

.D1 a {
  color: black;
  text-decoration: underline;
  font-weight: bold;
  font-size: 0.875rem;
}

.E {
  display: block;
  text-align: center;
  background-color: #202020;
  color: white;
  padding-top: 2em;
  padding-bottom: 2em;
}

.foot-up {
  font-size: 0.75rem;
  font-weight: bold;
  color: #ececec;
}

.foot-down {
  font-size: 0.75rem;
  color: #d7d7d7;
}

/* -------Media queries------- */

@media (max-width: 480px) {
  .container {
    background-color: white;
    width: 100%;
    margin: 0 auto;
  }

  .A {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 59px;
  }

  .A1,
  .A2 {
    margin-top: 0.625em;
    margin-bottom: 0.625em;
    margin-right: 1.25em;
  }

  .A1 {
    margin-left: 2.5em;
    max-width: 114px;
  }

  .A2 {
    display: flex;
    align-items: center;
    margin-right: 2em;
    color: #090909;
    font-size: 0.75rem;
    font-weight: 600;
  }

  .nav-list {
    display: flex;
    gap: 20px;
    list-style-type: none;
  }

  .nav-list li {
    margin-left: 1.25em;
  }

  .B {
    max-height: 293px;
    max-width: 414px;
  }

  .hero-date {
    font-size: 0.75rem;
  }

  .hero-title {
    width: 100%;
    font-size: 2rem;
  }

  .hero-text {
    width: 100%;
    font-size: 1rem;
  }

  .C1,
  .C2,
  .C3,
  .C4,
  .C5,
  .C6 {
    display: flex;
    flex-direction: column;

  }

  .C4,
  .C5,
  .C6 {
    display: none;
  }

  .blog-img {
    width: 100%;
    margin-bottom: 1.25em;
    border-radius: 3px;
  }

  .date {
    margin-bottom: 0.625em;
  }

  h3 {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 0.25em;
  }

  .D {
    display: block;
    text-align: center;
    margin-bottom: 2em;
  }

  .D1 a {
    color: black;
    text-decoration: underline;
    font-weight: bold;
    font-size: 0.875rem;
  }

  .E {
    display: block;
    text-align: center;
    background-color: #202020;
    color: white;
    padding-top: 2em;
    padding-bottom: 2em;
  }

  .foot-up {
    font-size: 0.75rem;
    font-weight: bold;
    color: #ececec;
    margin-bottom: 0;
    margin-left: 0;
  }

  .foot-down {
    font-size: 0.75rem;
    color: #d7d7d7;
    margin-bottom: 0;
    margin-left: 0;
  }
}
